name: dyamic workflow
on: [push]

jobs:
    build:
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
                node: [14, 16, 18]
        runs-on: ${{ matrix.os }}
        continue-on-error: true
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
        
            - name: Set up Node.js ${{ matrix.node }}
              uses: actions/setup-node@v2
              with:
                 node-version: ${{ matrix.node }}
    