name: manual_workflow
on:
  workflow_dispatch:

jobs:
    first_job_with_manual_trigger:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Run a one-liner script
              run: echo "This is a manually triggered workflow!"